[{splunkclient,
   [{connections,
      [{default,
         [{protocol, "https"},
          {host, "localhost"},
          {port, 8089},
          {user, <<"admin">>},
          {pass, <<"changeme">>},
          {pool, splunkclient_service_default}, % service pool for this connection
          {http_backend, httpclient_http_gun}, % backend for login service
          {http_backend_options, [{keepalive, 1000}, {retry_timeout, 1000}]},
          {login_handler, splunkclient_login}, % authentication implementation
          {service_handler, splunkclient_service} % service implementation
          ]}]},
    {service_pools,
      [{splunkclient_service_default,
         [ % size args
           {size, 10}, % max pool size
           {max_overflow, 0}], % max # of workers created if pool is empty
         [ % worker args
           {connection, default}, % specifies which connection this pool maps to
           {http_backend, httpclient_http_gun},
           {http_backend_options, [{keepalive, 1000}, {retry_timeout, 1000}]}
           ]}] % backend for service workers
  }]
}].
