[{splunkclient,
   [{connections,
      [{splunkclient_conn_default,
         [{protocol, "https"},
          {host, "localhost"},
          {port, 8089},
          {user, "admin"},
          {pass, "changeme"},
          {pool, splunkclient_service_default},
          {http_backend, splunkclient_http_gun}]}]}, % backend for login service
    {service_pools,
      [{splunkclient_service_default,
         [ % size args
           {size, 10}, % max pool size
           {max_overflow, 0}], % max # of workers created if pool is empty
         [ % worker args
           {connection, splunkclient_conn_default},
           {http_backend, splunkclient_http_gun}]}] % backend for service workers
  }]
}].
